.heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  padding-bottom: 0;
}

.btn {
  border: none;
  font-size: 0.8rem;
  outline: none;
  border-radius: 6px;
  background: #2ab42a;
  padding: 0.8rem;
  color: #fff;
}

.user {
  display: none;
}

.text-field {
  color: #ffff;
  font: 400;
}

@media screen and (max-width: 722px) {
  .user {
    display: block;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex_1 {
    gap: 0;
  }

  button.small {
    font-size: 10px;
  }

  .text-field,
  .btn-filed button {
    display: none;
  }

  .heading {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 88%;
  }
}
