.sidebar-container {
  /* position: fixed; */
  width: 250px;
  height: 100vh;
  background-color: #1a1e1c;
  color: #fff;
  padding: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 999;
  transition: transform 0.4s ease;
}

.highlight {
  transition: all 0.3s ease;
  position: absolute;
  left: -18px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.header {
  padding: 0.6rem;
  height: 10vh;
}

.header .logo {
  width: 100px;
}

.searchbar {
  display: flex;
  gap: 15px;
  padding: 0.4rem;
  padding-left: 0.8rem;
  background: #333333;
  border-radius: 8px;
}

.icon {
  font-size: 1rem;
}

.hamburgur,
.left-arrow {
  font-size: 1.5rem;
  cursor: pointer;
}

.searchbar input {
  padding: 0.6rem 0;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
}

::placeholder {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.sidebar-container a {
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.content {
  height: 75vh;
  padding-left: 0.6rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.align-item {
  align-items: center;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gap li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #b0b5b5;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

.user-profile {
  background: #333333;
  padding: 0.8rem;
  border-radius: 10px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.email {
  font-size: 10px;
}

/* li:first-child */

.active {
  color: #227023 !important;
}

.left_active {
  transform: translateX(0px);
}
