html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0b0b0b;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.transform_active {
  transform: translateX(0) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.flex_1 {
  display: flex;
  gap: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.right {
  position: relative;
}


@media screen and (max-width: 722px) {
  .App {
    display: grid;
    /* grid-template-columns: auto; */
  }

  .right {
    grid-column: 1/4;
    padding-left: 1rem;
    position: relative;
  }

  .sidebar-container {
    transform: translateX(-500px);
    position: fixed;
  }
}
